# debian/control
Source: cppfuncaproject
Section: utils
Priority: optional
Maintainer: Your Name <yaroslavbut1@gmail.com>
Build-Depends: debhelper (>= 9), autotools-dev
Standards-Version: 4.5.0

Package: cppfuncaproject
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Example C++ program
 A simple C++ program demonstrating function calculations.
