Package: cppproject-dbgsym
Package-Type: ddeb
Source: cppproject
Version: 1.0-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Your Name <yaroslavbut1@gmail.com>
Installed-Size: 29
Depends: cppproject (= 1.0-1)
Section: debug
Priority: optional
Description: debug symbols for cppproject
Build-Ids: 5ae78367b6fec151734aa2e17889a82b12591266
